body{
	font-size:16px;
}
/* 头部样式 */
.header {
	width:100%;
	padding-top:1.4%;
	padding-bottom:2.6%;
	background:#fff;
	border-bottom:2px solid #ddd;
}
.header img{
	margin-top:-1%;
	margin-left:15%;
	display:block;
}
.header ul li{
	font-size:1em;	
	float:left;
	font-weight:700;
}
.header ul li:not(:last-child):after{
	display: inline-block;
	content: "";
	position: absolute;
	width: 2px;
	height: 16px;
	top: 50%;
	right: 0;
	background: #ccc;
	-webkit-transform: skewX(-10deg) translateY(-50%);
	transform: skewX(-10deg) translateY(-50%);
}
.header .active{
	color:rgb(15,156,237);
}
/* 中间内容部分 */
.content table{
	margin-top:10px !important;
	font-size:0.8em;
}
.content table label{
	font-weight:normal !important;
}
.content table>tbody>tr>td{
	border:0px !important;
	padding-top:1%;
	padding-bottom:1%;
}
.content table input{
	width:80%;
}
.content table select{
	width:80%;
}
.content #work_unit,.content #address{
	width:80%;
}
/* 底部样式 */
.footer{
	position:absolute;
	bottom:0;
	width:100%;
	height:4vh;
	line-height:4vh;
	background-color:rgb(15,156,237);
}