@charset "utf-8";
/* 公共部分 */
*{
	margin:0;
	padding:0;
}
body{
	font-size:16px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
}
li{
	list-style: none;
}
#symbol{
	color:red;
	font-size:1em;
}
/* 头部 */
#header {
	margin-right: auto;
	margin-left: auto;
	width:100%;
	height: 7.5vh;
	line-height: 7.5vh;
	border-bottom:1px solid rgb(221,221,221);
}
#header .title{
	font-size:1.4em;
	margin-left:50px;
	color:rgb(60,189,209);
	float:left;
}
#header .info li{
	float:left;
	margin-left:5px;
}
#header .info{
	font-size:0.8em;
	float:right;
	margin-right:5px;
}
#header .info a{
	color:#666;
}
/* 中间部分 */
#contain {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}
#mainbg {
	float: left;
	width:100%;
}
/* 右侧部分 */
#content-right{
	float: right;
	margin: 2px 0px 2px 0px;
	width: 91.5%;
	text-align:left;
}
#content-right table{
	width:100%;
	border-collapse:collapse;
}
#content-right table textarea{
	overflow-y: scroll;
	width:90%;
	resize:none;
}
#content-right table td{
	padding-top:0.5%;
	padding-bottom:0.5%;
}
#content-right .info_content table td{
	padding-top:1%;
	padding-bottom:1%;
}
#content-right table input{
	width:82%;
	height:20px;
}
#content-right table select{
	width:83%;
	height:24px;
}
#content-right .info_title,#content-right .inquiry_title,#content-right .constitution_title,#content-right .pro_title{
	padding-bottom:1%;
	text-align:center;
	font-size:1.5em;
	color:rgb(60,189,209);
	border-bottom:1px solid rgb(221,221,221);
}
.next{
	position:absolute;
	bottom:45px;
	right:2%;
}
.next button{
	background-color:rgb(31,184,205);
	width:80px;
	height:40px;
	color:#fff;
	border-radius:5px;
	margin-left:10px;
	font-size:1em;
}
/* 右侧问诊诊断 */
#content-right .inquiry_content p{
	margin:0.1vh;
}
#content-right .inquiry_content p label{
	margin-right:120px;
} 
/* 右侧体质辨识 */
#content-right .constitution_content table>tbody>tr>td:first-child{
	width:10%;
	text-align:left;
}
#content-right table button{
	background-color:rgb(31,184,205);
	width:80px;
	height:30px;
	color:#fff;
	border-radius:5px;
	margin-left:10px;
	font-size:1em;
}
#content-right .constitution_content table #xzzknbx{
	padding-bottom:10%;	
}
#content-right .constitution_content table #fbqx{
	padding-bottom:1%;
}
#content-right .constitution_content table #zjjy{
	padding-bottom:14%;
}
/* 调养方案 */
#content-right .pro_content table>tbody>tr>td:first-child{
	width:10%;
	text-align:left;
}
#content-right .pro_content table .tyfa{
	padding-bottom:2%;
}
/* 左侧部分 */
#content-left{
	float: left;
	margin: 2px 2px 0px 0px;
	background: #F2F3F7;
	width: 8.2%;
	text-align:left;
}

#content-left .panel ul>li{
	height:21.8vh;
	line-height:21.8vh;
	text-align:center;
	cursor:pointer;
	font-size:1.2em;
	background-color:rgb(243,243,243);
}
/* 底部部分 */
#footer {
	position:fixed;
	width:100%;
	height:5vh;
	bottom:0px;
	line-height:5vh;
	border-top:1px solid rgb(221,221,221);
}