@charset "utf-8";
/* 公共部分 */
*{
	margin:0;
	padding:0;
}
html,body{
	font-size:16px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
	height:100%;
}
li{
	list-style: none;
}
.wrapper{
	min-width: 1250px;
	height: 100%;
	position: relative;
	min-height: 600px;
}
/* 头部样式 */
.header {
	height:6%;
	min-height:55px;
	border-bottom:5px solid #78a3d2;;
	display:flex;
	align-items: center;	
	margin-left:10px;
}
.header h2{
	margin:0px;
	color:rgb(15,156,237);
	letter-spacing:3px;
}
.header img{
	margin-left:15%;
	display:block;
	
}
.header .login{
	padding-top:0.7%;
	padding-bottom:1%;
	background:url(../img/top.jpg) no-repeat;
}
.header ul{
	margin-bottom:0px !important;
}
.header ul li{
	font-size:1em;	
	float:left;
	font-weight:700;
}
.header ul li:not(:last-child):after{
	display: inline-block;
	content: "";
	position: absolute;
	width: 2px;
	height: 16px;
	top: 50%;
	right: 0;
	background: #ccc;
	-webkit-transform: skewX(-10deg) translateY(-50%);
	transform: skewX(-10deg) translateY(-50%);
}
.header .active{
	color:rgb(15,156,237);
}

/* 中间内容部分 */
.content .leftNav{
	height:100%;
}
.content .wrap{
	height:95%;
	font-size:1em;
}
.content .leftNav .fdbody{
	height:98%;
	background: #89b5e9;
	position: absolute;
	top: 0px;
	left:2px;
	width: 85%;
	bottom: 0;
	z-index:-999;
}
.content .leftNav ul{
	width: 95%;
	height:98%;
	background: #fff;
	border-left: 1px solid #78a3d2;
	border-right: 1px solid #78a3d2;
	border-bottom:5px solid #78a3d2;
	margin-left:-7px;
}
.content .leftNav ul li{
	display:flex;
	align-items:center;
	justify-content: center;
	flex-direction:column;
	width:100%;
	height:15%;
	font-size:1.1em;
	text-align:center;
	letter-spacing:1px;
}
.content .leftNav li span{
	display:block;
	height:45px;
	width:45px;
	margin:3px auto 0px auto;
	background:url(../img/icon-left.png) no-repeat;
}
.content .leftNav .bg1{
	background-position:3px -51px;
}
.content .leftNav .bg2{
	background-position:-44px -51px;
}
.content .leftNav .bg3{
	background-position:-85px -51px;
}
.content .leftNav .bg4{
	background-position:-133px -51px;
}
.content .leftNav .active{
	color:#fff;
	background-color:rgb(15,156,237);
}
.content .leftNav .active .bg1{
	background-position:3px -4px;
}
.content .leftNav .active .bg2{
	background-position:-44px -4px;
}
.content .leftNav .active .bg3{
	background-position:-85px -4px;
}
.content .leftNav .active .bg4{
	background-position:-130px -4px;
}
.content{
	border-left: 8px solid #fff;
	border-right: 1px solid #78a3d2;
	width:100%;
	min-width:1200px;
	height:90%;
}
.content .content_wrap{
	height:100%;
}
.content table{
	margin-top:1%;
	height:100%;
}
.content table label{
	font-weight:normal !important;
}
.content table>tbody>tr>td{
	border:0px !important;
}
.content table input{
	width:80%;
	height:30px;
}
.content table select{
	width:80%;
	height:30px;
}
.content #work_unit,.content #address{
	width:80%;
}
.content{
	font-size:1em !important;
	font-weight:normal !important;
}
.content  label{
	font-weight:normal !important;
}
.content .result{
	height:100%;
}
.content table textarea{
	overflow-y: scroll;
	width:82%;
	resize:none;
	height:100%;
}
.content #xzzknbx{
	padding-bottom:7%;	
}
.content #fbqx{
	padding-bottom:3%;
}
.content #zjjy{
	padding-bottom:6%;
}

/* 底部样式 */
.footer {
	width: 100%;
	min-width: 1250px;
	position: fixed;
	z-index: 302;
	bottom: 0;
	left: 0;
	height: 4%;
	line-height:40px;
	overflow: hidden;
	color: #999;
	zoom: 1;
	margin: 0;
	background-color: rgb(15,156,237);
	text-align: left;
	line-height: 40px;
}
.next{
	position:absolute;
	bottom:-15px;
	right:2%;
}
.content button{
	background-color:rgb(15,156,237) !important;
	padding:7px 10px !important; 
}
#symbol{
	color:red;
	font-size:1em;
}
.header .login{
	font-size:0.8em !important;
	margin-top:1px;
}

.header .login .icon{
	background: url(../img/icon.png) no-repeat;
	background-position: -37px -6px;
	display:inline-block;
	width:20px;
	height:20px;
}


/* 登录部分 */
#loginWin{
	position: absolute;
	top: 32%;
	left: 36%;
	width: 350px;
	background:#fff;
	text-align:center;
}
#loginWin .form_content{
	border:0px;
}
#loginWin .form_content h2{
	margin:20px 0px;
}
#loginWin p{
	margin-top:20px;
}
#loginWin button{
	width:75%;
	padding-top:2%;
	padding-bottom:2%;
	border-radius:5px;
	background-color:rgb(15,156,237);
	color:#fff;
	margin:10px 0 10px 0;
}
#loginWin input{
	display: inline-block;
	height: 30px;
	padding: 8px 8px;
	border: 1px solid #ddd;
	transition: .3s;
	font-size: 14px;
	color: #666;
	width:230px;
}
#loginWin .close_btn{
	background-image: url(../img/littleicon.png);
	width: 16px;
	height: 16px;
	outline: 0;
	display: block;
	background-repeat: no-repeat;
	background-position: -89px -57px;
	margin: 0;
	padding: 0;
	position: absolute;
	right: 10px;
	top: 9px;
}
#loginWin .pos_in{
	background-position: -89px -57px;
}
#loginWin .pos_out{
	background-position: -89px -88px;
}
#loginWin .msg{
	color:red;
	font-size:0.8em;
	margin-left: 87px;
	margin-bottom: 12px;
	text-align:left;
	height:10px;
}

#exit{
	width:43px;
}



