/* 公共部分 */
body{
	height:100%;
	max-height:100%;
	padding:0px;
	margin:0px;
	border:0px;
	font-size:16px;
}
li{
	list-style: none;
}
#wrapper{
	position: relative;
}
.next{
	position:absolute;
	bottom:1%;
	right:2%;
}
.next button{
	background-color:rgb(31,184,205);
	width:80px;
	height:40px;
	color:#fff;
	border-radius:5px;
	margin-left:10px;
	font-size:1em;
}

/* 顶部导航 */
#header{
	position:absolute;
	width:100%;
	border-bottom:1px solid rgb(221,221,221);
}
#header-nav{
	position:relative;
}
#header .title{
	font-size:1.4em;
	margin-left:50px;
	color:rgb(60,189,209);
}
#header .logo{
	background: url(../img/logo.png) no-repeat;
	width:100%;
}
#header .info{
	position:absolute;
	top:-6px;
	right:10px;
	font-size:0.8em;
}

#header .info li{
	float:left;
	margin-left:5px;
}
#header .info a{
	color:#666;
}
/* 中间内容部分 */
#content{
	width:100%;
	position: absolute;
	left:0px;
	top:48px;
	display:flex;
	overflow-y:auto;
}
/* 中间左侧导航部分 */
#content-left{
	width:117px;
	left:0px;
	flex:0;
}
#content-left .panel ul>li{
	width:117px;
	text-align:center;
	cursor:pointer;
	float:left;
	font-size:1.2em;
	background-color:rgb(243,243,243);
}
@media screen and (max-width: 1920px) {
    #content-left .panel ul>li{
        height:208px;
        margin-left:-40px;
        line-height:208px;
    }
}
@media screen and (max-width: 1440px){
    #content-left .panel ul>li{
        height:163px;
        margin-left:-40px;
        line-height:163px;
    }
}
/* 中间右侧内容部分 */
#content-right{
	height:832px;
	margin:15px 5px;
	flex:1;
	overflow-y:auto;
}
@media screen and (max-width: 1440px){
    #content-right{
        height:652px;
    }
}
#content-right .info_title,#content-right .inquiry_title,#content-right .constitution_title,#content-right .pro_title{
	text-align:center;
	height:40px;
	line-height:40px;
	font-size:1.5em;
	color:rgb(60,189,209);
	border-bottom:1px solid rgb(221,221,221);
}
#content-right .inquiry_content p{
	padding-left:16px;
}
#content-right .doc label,#content-right .date label,#content-right .sm_number label,#content-right .count label,#content-right .personal label{
	margin-left:10px;
	padding-right:10px;
}
#content-right .doc input,#content-right .date input,#content-right .sm_number input,#content-right .count input,#content-right .personal input{
	width:240px;
	margin:30px 24px 15px 0;
}
/* 右侧基本信息内容部分 */
#content-right .info_main{
	border:1px solid rgb(221,221,221);
	position:relative;
}
#content-right .info_main input{
	width:25%;
	height:20px;
	margin-left:39px;
}

/* 底部 */
#footer{
	position:absolute;
	width:100%;
	height:30px;
	margin-top:47%;
	line-height:30px;
	border-top:1px solid rgb(221,221,221);
}
@media screen and (max-width: 1440px) {
    #footer{
        margin-top:50.5%;
    }
}
/* 登录弹框 */
#Popup{
	display: none;
}
#loginWin{
	position: absolute;
	left:50%;
	top:50%;
}
#loginWin .close_button{
	position: relative;
	top:-74px;
	right:-180px;
	color:#aaa;
}
#loginWin .form{
	width:400px; 
	position: absolute;
	left:-180px;
	top:-160px;
	background-color:#fff;
}
#loginWin .form_content{
	text-align: center;
}
#loginWin p{
	margin-top:25px;
}

