@charset "utf-8";
#Searchresult{
	height:79.2vh;
} 
#Pagination{
	position:absolute;
	bottom:3vh;
	left:40%;
	right:40%;
} 
.pagination a {
    text-decoration: none;
	border: 1px solid #AAE;
	color: rgb(15,156,237);
}

.pagination a, .pagination span {
    display: inline-block;
    padding: 0.1em 0.4em;
    margin-right: 5px;
	margin-bottom: 5px;
}

.pagination .current {
    background: rgb(15,156,237);
    color: #fff;
	border: 1px solid #AAE;
}

.pagination .current.prev, .pagination .current.next{
	color:#999;
	border-color:#999;
	background:#fff;
}


