
#app {
  position: fixed;
  top: 58px;
  left: 150px;
  right: 0;
  bottom: 0;
  background: url('../img/questionaire_bg.jpg') no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  overflow: hidden;
}

.questionaire-box {
  position: absolute;
  top: 0px;
  bottom: 105px;
  left: 0px;
  right: 0;
  background: url('../img/questionaire_inner_bg.jpg') repeat;
  overflow-x: hidden;
  overflow-y: scroll;
}

.ques-index {
  position: relative;
  top: 0px;
  display: inline-block;
  width: 25px;
  height: 21px;
  line-height: 20px;
  background: url('../img/questionaire_title.png') no-repeat;
  font-size: 16px;
  color: #000;
  padding-left: 1px;
  margin-right: 6px;
}

.center {
  padding-left: 6px;
}

.logo {
  margin: 24px 0 0 37px;
}

.el-form-item {
  background: rgba(34, 102, 175, 0.1);
  margin: 20px 35px;
  padding: 12px;
}

.el-form--label-top .el-form-item__label {
  padding: 0;
  line-height: 28px;
  font-size: 16px;
  color: #3c3018;
}

.el-radio__label {
  position: relative;
  font-size: 16px;
  color: #3c3018;
  top: 3px;
  left: 0;
}

.el-form-item__error {
  top: 92%;
  padding-top: 0;
}

.btns {
  position: absolute;
  bottom: 1%;
  width: 100%;
  height: 76px;
  text-align: center;
}

.btns div {
  display: inline-block;
  margin: 10px 38px;
}

.submit {
  /* width: 148px; */
  /* height: 51px; */
  /* background: url('../img/questionaire_submit.jpg') no-repeat; */
  background-size: contain;
  background-position: 50% 50%;
  cursor: pointer;
}

.return {
  width: 148px;
  height: 51px;
  /* background: url('../img/questionaire_return.jpg') no-repeat; */
  background-size: contain;
  background-position: 50% 50%;
  cursor: pointer;
}