<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<link rel="stylesheet" href="../css/element.css">
<link rel="stylesheet" href="../css/reset.css">
<link rel="stylesheet" href="../css/questionaire.css">
<div id="app" v-cloak>
    <div class="logo">
      <img src="./images/title.png" alt="" srcset="">
    </div>
    <div class="questionaire-box">
      <el-form :model="dynamicValidateForm" label-position="top" ref="dynamicValidateForm" label-width="100px"
        class="demo-dynamic">
        <el-form-item v-for="(item, index) in dynamicValidateForm.lists" :label="item.content" :key="item.key"
          :prop="'lists.' + index + '.value'" :rules="{
            required: true, message: '此题为必答题', trigger: 'change'
          }">
          <span slot="label"><span :class="{'center': index < 9, 'ques-index': true}">{{index + 1}}</span>{{item.content}}</span>
          <el-radio-group v-model="item.value">
            <el-radio :label="1">无</el-radio>
            <el-radio :label="2">很少</el-radio>
            <el-radio :label="3">有时</el-radio>
            <el-radio :label="4">经常</el-radio>
            <el-radio :label="5">总是</el-radio>
          </el-radio-group>
        </el-form-item>
      </el-form>
    </div>
</div>
<script src="../js/vue.js"></script>
<script src="../js/index.js"></script>
<script>
	var app = new Vue({
		el:'#app',
		data:{
			dynamicValidateForm:{
				lists:[]
			}
		},
		created(){
			this.getQuestionaire();
		},
		methods:{
			getQuestionaire:function(){
				let that = this;
				$.ajax({
					type:'GET',
					url:'../inqueryMan.json',
					contentType:'application/json',
					success:function(res){
						that.dynamicValidateForm['lists']=res
					},
					error:function(){
						alert('获取问卷失败');
					}
				})
			}
		}
	})
</script>