<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<link rel="stylesheet" href="../css/element.css">
<link rel="stylesheet" href="../css/reset.css">
<link rel="stylesheet" href="../css/questionaire.css">
<style  type="text/css">
    [v-cloak] {
        display: none !important;
    }
</style>
<div id="app" v-cloak>
    <div class="logo">
      <img src="./images/title.png" alt="" srcset="">
    </div>
    <div class="questionaire-box">
      <el-form :model="dynamicValidateForm" label-position="top" ref="dynamicValidateForm" label-width="100px"
        class="demo-dynamic">
        <el-form-item v-for="(item, index) in dynamicValidateForm.lists" :label="item.content" :key="item.key"
          :prop="'lists.' + index + '.value'" :rules="{
            required: true, message: '此题为必答题', trigger: 'change'
          }">
          <span slot="label"><span :class="{'center': index < 9, 'ques-index': true}">{{index + 1}}、</span>{{item.content}}</span>
          <el-radio-group v-model="item.value">
            <el-radio :label="1">无</el-radio>
            <el-radio :label="2">很少</el-radio>
            <el-radio :label="3">有时</el-radio>
            <el-radio :label="4">经常</el-radio>
            <el-radio :label="5">总是</el-radio>
          </el-radio-group>
        </el-form-item>
      </el-form>
    </div>
	<p class="btns" page="page2" id="cs">
	  <button class="btn next_btn" page="2" url="pages/constitution.html" @click="next($(event),'dynamicValidateForm')">下一步</button>
	  <button class="btn save">保&nbsp;&nbsp;存</button>	
	</p>
</div>
<script src="../js/vue.js"></script>
<script src="../js/index.js"></script>
<script src="../js/main.js"></script>
<script>
	var app = new Vue({
		el:'#app',
		data:{
			dynamicValidateForm:{
				lists:[]
			}
		},
		created(){
			this.getQuestionaire();
		},
		methods:{
			getQuestionaire:function(){
				var sex = "Man";
				if(localStorage.getItem("info") && localStorage.getItem("info") != undefined && localStorage.getItem("info") != null){
					sex = JSON.parse(localStorage.getItem("info"))[0].sex;
				}
				if(sex=='女'){
					sex='Women'
				}else{
					sex='Man';
				}
				let that=this;
				$.ajax({
					type:'POST',
					url:'../php/inquiry'+sex+'.php',
					contentType:'application/json',
					success:function(res){
						that.dynamicValidateForm['lists']=res;
					},
					error:function(){
						alert('获取问卷失败');
					}
				})
			},
			next:function(event,formName){
				// 读取所有radio的值并保存
				var radioVal=[];
				// 点击“下一步”时，判断所有的问诊题目是否完成，
				// 如果没有完成进行提示，如果全部勾选则保存当前的数据；
				// 切换模块时要保存当前的数据；
				// 如果没有全部勾选，后续的体质辨识初始化不能有具体的方案。
				let that = this;
				that.$refs[formName].validate((valid) => {
					if (valid) {
						var page = $('#cs').attr('page');
						$(".leftNav li").removeClass("active");
						$('.leftNav '+page).addClass("active");//利用pages属性去控制左侧导航
						var loadUrl = $('.next_btn').attr("url");//获取url
						var index = $('.next_btn').attr("page");//获取page属性
						yCookie.set("currPageIndex", index);
						$('.wrap').load(baseUrl.webProjUrl() + loadUrl); 
					 //  that.pageLoading = true
					 //  let resList = that.dynamicValidateForm.lists
					 //  console.log(resList)
					 //  let arr = []
					 //  if (resList.length > 0) {
						// for (let i = 0, len = resList.length; i < len; i++) {
						//   arr.push({
						// 	id: resList[i].id,
						// 	value: resList[i].value
						//   })
						// }
					  // }
					 //  let userInfo = localStorage.getItem('userInfo')
					 //  if (!JSON.parse(userInfo).id) {
						// return false
					 //  }
					 //  var params = new URLSearchParams();
					 //  params.append('userId', JSON.parse(userInfo).id);
					 //  params.append('result', JSON.stringify(arr));
					 //  //获取单选按钮的value值
					 //  $.ajax({
						// type: "POST",
						// url:"../php/inquiryNext.php",
						// contentType: "application/x-www-form-urlencoded",
						// processData: false,
						// data: params,
						// success: function (res) {
						//   console.log(res)
						//   that.pageLoading = false
						//   that.$notify({
						// 	title: '成功',
						// 	message: '保存问卷成功',
						// 	type: 'success'
						//   });
						//   localStorage.clear('userInfo')
						//   // // 把信息存到localStorage后跳转
						//   setTimeout(() => {
						// 	window.history.go(-1)
						//   }, 1500)
						// },
						// error:function(e){
						//   that.pageLoading = false
						//   that.$notify({
						// 	title: '提示',
						// 	message: '提交问卷失败，请重试',
						// 	type: 'error'
						//    });
					   //  }
				    // })
				} else {
					 $.alerts.alert('提示','请完善问卷所有题目!',function(){
						return false;
					 })
				}
			  });
			}
		}
	})
</script>